@font-face {
  font-family: ProximaNova;
  src: url(./fonts/Proxima\ Nova\ Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(./fonts/Proxima\ Nova\ Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SourceSansPro;
  src: url(./fonts/SourceSansPro-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: SourceSansPro;
  src: url(./fonts/SourceSansPro-Bold.ttf);
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "SourceSansPro", serif;
}

header {
  background: url("./images/hero/bg.png") bottom center no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}

nav#main {
  height: 60px;
  background: white;
  border-radius: 4px;
  position: relative;
}

#logo {
  position: absolute;
  display: block;
  border: 10px #ab0427 solid;
  border-radius: 100%;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}

#logo img {
  display: block;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

#main-menu {
  margin: 0;
  padding: 0 40px 0 283px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  list-style-type: none;
}

#main-menu a {
  color: #002868;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

#main-menu a:hover {
  color: #bf0a30;
}

#featured {
  background: url(./images/circle.png) 0 0 no-repeat;
  background-size: 100% 100%;
  width: 410px;
  height: 410px;
  margin: 70px auto 0;
  border: 6px solid white;
  border-radius: 100%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: white;
  padding: 40px;
}

#featured h3 {
  margin: 10px 0 30px;
  font-size: 12px;
}

#featured h2 {
  margin: 0 0 30px;
}

#featured p {
  font-size: 16px;
  margin: 0 0 30px;
  line-height: 30px;
}

#featured a {
  font-size: 14px;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  height: 50px;
  width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* TOPBAR */
#topbar {
  padding: 0 0 0 235px;
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
  justify-content: space-between;
}

#topbar > div {
  display: flex;
  align-items: center;
}
/* TIME BOX */
#topbar #clock-icon {
  padding: 17px 0 0 0;
}

h3#location {
  margin: 0;
  padding: 0 0 0 5px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  justify-content: center;
}
.widget-text {
  font-family: "ProximaNova";
  font-weight: normal;
  font-size: 26px;
  justify-content: center;
  text-align: center;
}
span#time {
  margin: 0;
  padding: 0 0 0 5px;
}

#time-box {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  list-style-type: none;
}

/* WEATHER BOX */

#topbar #weather-icon {
  padding: 17px 0 0 0;
}

h3#weather {
  margin: 0;
  padding: 0 0 0 5px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  justify-content: center;
}

span#deegres {
  margin: 0;
  padding: 0 0 0 5px;
}

#unitc {
  color: white;

  text-decoration: none;
}
#unitf {
  color: rgba(192, 192, 192, 0.6);

  text-decoration: none;
}
#weather-box {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  list-style-type: none;
}

#temperature {
  display: flex;
}

#login-button {
  padding: 0 0 0 5px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

#lang {
  margin-left: 40px;
  margin-top: 5px;
}

#paf {
  position: absolute;
  padding: 20px 0 0 235px;
}

/*  census */

#census {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./images/bg-census.png") bottom center no-repeat;
  background-size: cover;
  height: 744px;
  width: 100%;
}

#treelogo {
  margin: 40px 0;
}
#census > h2 {
  margin: 0;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: bold;
  line-height: 50px;
  color: #bf0a30;
}
#census > section {
  display: flex;
  line-height: 25px;
}

#census-left {
  margin-right: 60px;

  max-width: 464px;
}

#census-left > h2 {
  margin-bottom: 10px;
}

#census-left > h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}

#census > section > #census-right {
  max-width: 475px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#census-right > ul {
  padding-left: 20px;
  font-size: 16px;
  font-weight: normal;
  list-style-image: url("./images/icons/blue-caret.svg");
}

#census-right > ul > li + li {
  margin-top: 10px;
}
#census-right > ul > li:nth-child(3) {
  margin-top: 5px;
}
#census-right > ul > li:nth-child(4) {
  margin-top: 0;
}
#census > section h2 {
  color: #002868;
  font-size: 18px;
  line-height: 20px;
}

#census > section span1 {
  padding: 0 0 0 232px;
  width: 464px;
  height: 245px;
}

#census-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-weight: bold;
}
#census-info > h3 {
  margin: 0;
  color: #bf0a30;
  font-size: 18px;
}

#census-date {
  color: #002868;
  font-size: 34px;
  margin-top: 5px;
}

#census-location {
  color: #002868;
  font-size: 18px;
  margin-top: 9px;
}
