@font-face {
  font-family: ProximaNova;
  src: url(./fonts/Proxima\ Nova\ Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(./fonts/Proxima\ Nova\ Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SourceSansPro;
  src: url(./fonts/SourceSansPro-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: SourceSansPro;
  src: url(./fonts/SourceSansPro-Bold.ttf);
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "SourceSansPro", serif;
}

header {
  background: url("./images/hero/bg.png") bottom center no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}

nav#main {
  height: 60px;
  background: white;
  border-radius: 4px;
  position: relative;
}

#logo {
  position: absolute;
  display: block;
  border: 10px #ab0427 solid;
  border-radius: 100%;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}

#logo img {
  display: block;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

#main-menu {
  margin: 0;
  padding: 0 40px 0 283px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  list-style-type: none;
}

#main-menu a,
#dropdown-menu a {
  color: #002868;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

#main-menu a:hover,
#dropdown-menu a:hover {
  color: #bf0a30;
}

#featured {
  background: url(./images/circle.png) 0 0 no-repeat;
  background-size: 100% 100%;
  width: 410px;
  height: 410px;
  margin: 70px auto 0;
  border: 6px solid white;
  border-radius: 100%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: white;
  padding: 40px;
}

#featured h3 {
  margin: 10px 0 30px;
  font-size: 12px;
}

#featured h2 {
  margin: 0 0 30px;
}

#featured p {
  font-size: 16px;
  margin: 0 0 30px;
  line-height: 30px;
}

.cta-link {
  font-size: 14px;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  height: 50px;
  width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* TOPBAR */
#topbar {
  padding: 0 0 0 235px;
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
  justify-content: space-between;
}

#topbar > div {
  display: flex;
  align-items: center;
}
/* TIME BOX */
#topbar #clock-icon {
  padding: 17px 0 0 0;
}

h3#location {
  margin: 0;
  padding: 0 0 0 5px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  justify-content: center;
}
.widget-text {
  font-family: "ProximaNova";
  font-weight: normal;
  font-size: 26px;
  justify-content: center;
  text-align: center;
}
span#time {
  margin: 0;
  padding: 0 0 0 5px;
}

#time-box {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  list-style-type: none;
}

/* WEATHER BOX */

#topbar #weather-icon {
  padding: 17px 0 0 0;
}

h3#weather {
  margin: 0;
  padding: 0 0 0 5px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  justify-content: center;
}

span#deegres {
  margin: 0;
  padding: 0 0 0 5px;
}

#unitc {
  color: white;

  text-decoration: none;
}
#unitf {
  color: rgba(192, 192, 192, 0.6);

  text-decoration: none;
}
#weather-box {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  list-style-type: none;
}

#temperature {
  display: flex;
}

#login-button {
  padding: 0 0 0 5px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

#lang {
  margin-left: 40px;
  margin-top: 5px;
}

#paf {
  position: absolute;
  padding: 20px 0 0 235px;
}

/*  census */

#census {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./images/bg-census.png") bottom center no-repeat;
  background-size: cover;
  height: 744px;
  width: 100%;
}

#treelogo {
  margin: 40px 0;
}
#census > h2 {
  margin: 0;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: bold;
  line-height: 50px;
  color: #bf0a30;
}
#census > section {
  display: flex;
  line-height: 25px;
}

#census-left {
  margin-right: 60px;

  max-width: 464px;
}

#census-left > h2 {
  margin-bottom: 10px;
}

#census-left > h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}

#census > section > #census-right {
  max-width: 475px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#census-right > ul {
  padding-left: 20px;
  font-size: 16px;
  font-weight: normal;
  list-style-image: url("./images/icons/blue-caret.svg");
}

#census-right > ul > li + li {
  margin-top: 10px;
}
#census-right > ul > li:nth-child(3) {
  margin-top: 5px;
}
#census-right > ul > li:nth-child(4) {
  margin-top: 0;
}
#census > section h2 {
  color: #002868;
  font-size: 18px;
  line-height: 20px;
}

#census > section span1 {
  padding: 0 0 0 232px;
  width: 464px;
  height: 245px;
}

#census-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-weight: bold;
}
#census-info > h3 {
  margin: 0;
  color: #bf0a30;
  font-size: 18px;
}

#census-date {
  color: #002868;
  font-size: 34px;
  margin-top: 5px;
}

#census-location {
  color: #002868;
  font-size: 18px;
  margin-top: 9px;
}

/* ACTIONS */

#actions {
  background-color: #002868;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 40px 0;
}

#actions > h3 {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}

#actions > ul {
  padding: 0;
  display: flex;
  margin: 30px 0;
  list-style: none;
  justify-content: space-between;
}

#actions > ul > li {
  width: 300px;
}

#actions > ul > li + li {
  margin-left: 20px;
}

#actions > ul > li > h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 12px;
}

#actions > ul > li > p {
  font-size: 16px;
  line-height: 25px;
}

#actions > ul > li > a {
  display: flex;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
}

#actions > ul > li > a > img {
  margin-right: 5px;
}

/* FORM */

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact-form > h3 {
  margin-top: 62px;
  padding: 0;
  color: #002868;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}

#contact-form > form {
  width: 740px;
  border-top: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
  display: flex;
  flex-direction: column;
  padding: 16px 60px 27px 60px;
}

#contact-form input {
  height: 46px;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
}

#contact-form input[name="phone"] {
  background: url("./images/icons/phone.svg") no-repeat scroll 16px 16px;
  padding-left: 40px;
}

#contact-form input[name="email"] {
  background: url("./images/icons/email.svg") no-repeat scroll 16px 16px;
  padding-left: 40px;
}

#contact-form input + span {
  margin-top: 15px;
}

#contact-form > form > span {
  margin-bottom: 4px;
}

#contact-form textarea {
  height: 120px;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  resize: none;
}
#contact-form-controls {
  margin-top: 21px;
  margin-bottom: 55px;
  display: flex;
  justify-content: flex-end;
  width: 740px;
}

#contact-form button {
  position: relative;
  font-size: 14px;
  color: white;
  font-weight: bold;
  background: #bf0a30;
  border-radius: 6px;
  border: 1px solid white;
  height: 50px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#contact-form button > img {
  position: absolute;
  right: 13px;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #002868;
}

#footer-logo {
  margin-top: 30px;
}

#footer-paf {
  margin-top: 20px;
}

#social {
  display: flex;
  margin: 27px 570px 0 570px;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

#social > li + li {
  margin-left: 30px;
}

#footer-menu {
  display: flex;
  padding: 0;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  width: 1100px;
}

#footer-menu a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

#footer-menu a:hover {
  color: #bf0a30;
}

#signature {
  font-size: 14px;
  color: white;
  opacity: 50%;
  margin-top: 8px;
  margin-bottom: 14px;
}

#to-top {
  position: absolute;
  align-self: flex-end;
  margin-right: 100px;
  transform: translateY(-50%);
}

/* DROPDOWN MENU */

#dropdown {
  display: flex;
  position: absolute;

  width: 275px;
  background: white;
  margin-left: 270px;
  border-radius: 4px;
  padding: 0;
  margin-top: 10px;
}

#dropdown-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-top: 16px;

  /* padding-top: 16px; */
  margin-bottom: 23px;
}
#dropdown-menu li {
  padding: 0;
  list-style: none;
  letter-spacing: 0;
}

#dropdown-menu li + li {
  margin-top: 10px;
}
